body {
    padding-top: 30px;
}

#landing {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#landing-title {
    font-size: var(--huge);
    font-family: "Chonburi";
    color: var(--red);
    margin-bottom: -30px;
}
#landing-subtitle, #landing-subtitle2 {
    font-size: var(--medium);
    font-weight: 600;
    color: var(--text);
    margin-bottom: -10px;
}
#landing-subtitle2 {
    font-weight: 400;
    color: var(--red);
}
#landing-request {
    margin-top: 40px;
    background: var(--red);
    font-size: var(--medium);
    font-weight: 600;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    border-radius: 50px;
    text-decoration: none;
    border: 1px solid white;
    transition: 0.2s;
}
#landing-request:hover {
    color: var(--red);
    background: white;
    border: 1px solid var(--line);
    cursor: pointer;
}

#links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.links-item {
    border-radius: 40px;
    border: 1px solid var(--line);
    width: 225px;
    height: 225px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.links-img {
    width: 65px;
    filter: opacity(60%);
    height: auto;
}
.links-header {
    font-size: var(--big);
    color: var(--red);
    font-family: "Chonburi";
    margin-top: 10px;
}
.links-desc {
    margin-top: -30px;
    font-weight: 600;
    color: var(--text);
    font-size: var(--small);
}



